*{
	margin:0px;
	padding:0px;
}

header{
	background: rgba(0,0,0,0.2);
	background-position:center;
	width: 100%;
	position: fixed;
	z-index: 100;
}
p{
	margin-bottom: 20px;
	font-family:"Arial Narrow"
}
.rojo{
	margin-bottom:20px;
	font-family:"Arial Narrow";
	color: #fd352b
}
.centrado{
	text-align: center;
}
body{
	background-color:#6cc1c6
}
h2.blanco{
	font-family:"Arial Narrow";
	color: white;
}
.negro{
	font-family:"Arial Narrow";
	color: black;
}
nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
 	
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}



nav ul li:hover {
  background: #4a82e8;
}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */

}
 
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
  
}
 
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;

}
 
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #000;
  text-decoration: none;
}

div{
	bottom: 20px;
}
div.cabecera{
	text-align:center;
	background: rgba(0,0,0,0.2);
	margin:0 auto;
	top:5px;
	width:530px;
	height:55px; 
	position:absolute;
	border-color:black;
	border:1px none black
	
}
.imagenContenido{
	position:absolute;
	margin: 0 auto;
	background: url(../imagenes/libros.jpg) no-repeat;
	top:5px;
	left:50px;
	border: none;
	width: 1200px;
	height: 310px;
	text-align: center;
}
.contenido{
	position:absolute;
	top:340px;
	left:50px;
	width: 1200px;
	height: 300px;
	border: none;
}
.imagenRecursos{
	position:absolute;
	margin: 0 auto;
	background: url(../imagenes/recursos.jpg) no-repeat;
	top:5px;
	left:50px;
	border: none;
	width: 1150px;
	height: 490px;
	text-align: center;
}
.contenidoRecursos{
	position:absolute;
	top:480px;
	left:50px;
	width: 1200px;
	height: 300px;
	border: none;
}
.formularioDeNivel{
	position:absolute;
	background: rgba(0,0,0,0.2);
	top:80px;
	height: 400px;
	width: 300px;
	border:none
}
iframe.contenedor{
	position:absolute;
	top:80px;
	left:60px;
	width: 1450px;
	height: 850px;
	border: none;
}
.contenedorDeNivel{
	position:absolute;
	top:80px;
	left:330px;
	width: 750px;
	height: 400px;
	border: none;
}
section.contenido{
	padding-top: 80px;
}
.wrapper {
  width: 80%;
  margin: auto;
  overflow:hidden;
}
.ayubarra{
	width: 400px;
	height:40px;
	top:20px;
	left:5px;
	border:1px solid black;
}
.novbarra{
	width: 815px;
	height:40px;
	top:20px;
	left:5px;
	border:1px solid black;
}
.caja1{
	position:absolute;
	border:1px solid #000000;
	width: 400px;
	height: 500px;
	top:60px;
	text-align:center;
}
.caja2{
	position:absolute;
	border:1px solid #000000;
	width: 400px;
	height: 500px;
	top:60px;
	left:420px;
}
.caja3{
	position:absolute;
	border:1px solid #000000;
	width: 400px;
	height: 500px;
	top:60px;
	left:840px;
}


